<!DOCTYPE html>
<html>

<head>
    <title>France Inter Distanciation Sociale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="topnav">
        <div class="main-title">
            <h1>STUDIOS RADIO</h1>
        </div>
        <div class="studio-list">
            <a class="studio" href="/">STUDIO 1</a>
            <a class="studio" href="/studio2">STUDIO 2</a>
            <a class="studio" href="/studio3">STUDIO 3</a>
            <a class="studio" href="/studio4">STUDIO 4</a>
            <a class="studio" href="/studio5">STUDIO 5</a>
            <a class="params" href="/form">ADMIN</a>
        </div>
        <div class="timer">
       {% block timer %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="capacity-alert" id="capacity-alert" style="display:none">
            <p>La limite de capacité est atteinte, cliquez pour diffuser l'annonce.</p>
            <button onclick="playSound()">Diffuser</button>
          </div>
        <script src="{{ url_for('static', filename='countdown.js') }}"></script>
</body>

</html>