<!DOCTYPE html>
<html>
<head>
    <title>France Inter Distanciation Sociale</title>
</head>
<body>
    <h1>BACK OFFICE</h1>
    <form method="POST" action="/submit">
        <label for="number">Nombre de personnes :</label>
        <input type="text" name="number" id="number" required>
        <br>
        <label for="french">Message à diffuser :</label>
        <input type="text" name="french" id="french" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>