{% extends "base_template.html" %}

{% block timer %}
  <div class="max-capacity">Capacité maximum : {{ max_capacity }}</div>
  <div class="check-text">Vérification de la capacité dans&nbsp</div>
  <div class="clock">10</div>
  <div class="select-lang">
      <select id="select">
          <option value="french">Français</option>
          <option value="english">English</option>
      </select>
  </div>
{% endblock %}
{% block content %}
<div class="image">
  <img src="{{ image5_url }}" alt="Studio 5">
  <script>
    // Play sound if distanciation is not respected
    function checkPeople() {
      console.log('check')
      var checkpeople_url = "/people?studio_image=" + '{{ image5_url }}'
      fetch(checkpeople_url)
        .then(response => response.json())
        .then(data => {
          room_status = data.room
          if (room_status === "full") {
            document.getElementById("capacity-alert").style.display = "block";
          } else if (room_status === "notfull") {
            document.getElementById("capacity-alert").style.display = "none";
          }
        })
        .catch(error =>
          alert(error)
        )
    }
    // Depending on the selected language,
    // display the sound button
    function playSound() {
      var selectElement = document.getElementById("select")
      var selectedOption = selectElement.options[selectElement.selectedIndex];
      var language = selectedOption.value;
      // fetches sound
      var languageSound = '/sound?language=' + language
      cachedAudio = new Audio(languageSound);
      cachedAudio.loop = false;
      cachedAudio.play();
      document.getElementById("capacity-alert").style.display = "none"
    }
  </script>
</div>
{% endblock %}